#landing-page {
  body{
    
}

div {
  
    // color: white;
    // background: gray;
    // margin: auto;
    // border-radius: 5px;
    
}

p{
  text-align: center;
}

h1 {
  font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    color: white;
}
  h2 {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  
  button{
    padding: 10px 5px 3px 5px;
  }

}