<div id="landing-page" class="span-12 padding-standard">
  <!-- <h1>
  Welcome back and
  </h1>
  
  <div>
    <h1 id="currentLocation"></h1>
    <h2 id="currentTemp"></h2>
    <h2 id="toggle">&#8451</h2>
    <h2 id="currentWeather"></h2>
    <h2 id="highTemp-lowTemp"></h2>
  </div> -->
  <span>Now</span>
  <p ng-bind="isItTightsWeatherNow"></p>

  <span>3h</span>
  <p ng-bind="isItTightsWeatherIn3h"></p>

  <span>6h</span>
  <p ng-bind="isItTightsWeatherIn6h"></p>

  <span>9h</span>
  <p ng-bind="isItTightsWeatherIn9h"></p>


</div>